<html>
  <head>
    <title>hoge</title>
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/client.js"></script>
    <script type="text/javascript">var name = '<%= name %>';</script>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
  </head>
  <body>
     <%- body %>
  </body>
</html>


